{
	"semi": true,
	"singleQuote": false,
	"printWidth": 80,
	"tabWidth": 2,
	"trailingComma": "all",
	"arrowParens": "always",
	"jsxBracketSameLine": false,
	"useTabs": true,
	"overrides": [
		{
			"files": "*.json",
			"options": {
				"printWidth": 120
			}
		}
	]
}
