@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	container {
		@apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
	}
}

:root {
	--color-bg1: rgb(248 250 252);
	--color-bg2: rgb(226 232 240);
	--color1: 18, 113, 255;
	--color2: 221, 74, 255;
	--color3: 100, 220, 255;
	--color4: 200, 50, 50;
	--color5: 180, 180, 50;
	--color6: 118, 27, 235;
	--color-interactive: 90, 20, 222;
	--circle-size: 80%;
	--blending: hard-light;
}

.scrollbar-w-2::-webkit-scrollbar {
	width: 0.25rem;
	height: 0.25rem;
}

.scrollbar-track-glass::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.scrollbar-thumb-indigo::-webkit-scrollbar-thumb {
	background-color: #5a14de;
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
	border-radius: 0.25rem;
}

@keyframes moveInCircle {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes moveVertical {
	0% {
		transform: translateY(-50%);
	}
	50% {
		transform: translateY(50%);
	}
	100% {
		transform: translateY(-50%);
	}
}

@keyframes moveHorizontal {
	0% {
		transform: translateX(-50%) translateY(-10%);
	}
	50% {
		transform: translateX(50%) translateY(10%);
	}
	100% {
		transform: translateX(-50%) translateY(-10%);
	}
}

.gradient-background {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
	/* background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2)); */
	/* background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2)); */
	background: white;
	top: 0;
	left: 0;
}

.gradients-container {
	filter: url(#goo) blur(40px);
}

.gradient-circle-1 {
	position: absolute;
	background: radial-gradient(
			circle at center,
			rgba(var(--color1), 0.8) 0,
			rgba(var(--color1), 0) 50%
		)
		no-repeat;
	mix-blend-mode: var(--blending);
	width: var(--circle-size);
	height: var(--circle-size);
	top: calc(50% - var(--circle-size) / 2);
	left: calc(50% - var(--circle-size) / 2);
	transform-origin: center center;
	animation: moveVertical 30s ease infinite;
	opacity: 1;
}

.gradient-circle-2 {
	position: absolute;
	background: radial-gradient(
			circle at center,
			rgba(var(--color2), 0.8) 0,
			rgba(var(--color2), 0) 50%
		)
		no-repeat;
	mix-blend-mode: var(--blending);
	width: var(--circle-size);
	height: var(--circle-size);
	top: calc(50% - var(--circle-size) / 2);
	left: calc(50% - var(--circle-size) / 2);
	transform-origin: calc(50% - 400px);
	animation: moveInCircle 20s reverse infinite;
	opacity: 1;
}

.gradient-circle-3 {
	position: absolute;
	background: radial-gradient(
			circle at center,
			rgba(var(--color3), 0.8) 0,
			rgba(var(--color3), 0) 50%
		)
		no-repeat;
	mix-blend-mode: var(--blending);
	width: var(--circle-size);
	height: var(--circle-size);
	top: calc(50% - var(--circle-size) / 2 + 200px);
	left: calc(50% - var(--circle-size) / 2 - 500px);
	transform-origin: calc(50% + 400px);
	animation: moveInCircle 40s linear infinite;
	opacity: 1;
}

.gradient-circle-4 {
	position: absolute;
	background: radial-gradient(
			circle at center,
			rgba(var(--color4), 0.8) 0,
			rgba(var(--color4), 0) 50%
		)
		no-repeat;
	mix-blend-mode: var(--blending);
	width: var(--circle-size);
	height: var(--circle-size);
	top: calc(50% - var(--circle-size) / 2);
	left: calc(50% - var(--circle-size) / 2);
	transform-origin: calc(50% - 200px);
	animation: moveHorizontal 40s ease infinite;
	opacity: 0.7;
}

.gradient-circle-5 {
	position: absolute;
	background: radial-gradient(
			circle at center,
			rgba(var(--color5), 0.8) 0,
			rgba(var(--color5), 0) 50%
		)
		no-repeat;
	mix-blend-mode: var(--blending);
	width: calc(var(--circle-size) * 2);
	height: calc(var(--circle-size) * 2);
	top: calc(50% - var(--circle-size));
	left: calc(50% - var(--circle-size));
	transform-origin: calc(50% - 800px) calc(50% + 200px);
	animation: moveInCircle 20s ease infinite;
	opacity: 1;
}

.gradient-circle-6 {
	position: absolute;
	background: radial-gradient(
			circle at center,
			rgba(var(--color6), 0.8) 0,
			rgba(var(--color6), 0) 50%
		)
		no-repeat;
	mix-blend-mode: var(--blending);
	width: calc(var(--circle-size) * 2);
	height: calc(var(--circle-size) * 2);
	top: calc(50% - var(--circle-size));
	left: calc(50% - var(--circle-size) + 300px);
	transform-origin: calc(50% + 700px) calc(50% + 400px);
	animation: moveInCircle 50s ease infinite;
	opacity: 1;
}

.gradient-circle-interactive {
	position: absolute;
	background: radial-gradient(
			circle at center,
			rgba(var(--color-interactive), 0.8) 0,
			rgba(var(--color-interactive), 0) 50%
		)
		no-repeat;
	mix-blend-mode: var(--blending);
	width: 300%;
	height: 300%;
	top: -150%;
	left: -150%;
	opacity: 0.2;
}

.glassmorphism {
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.border-light {
	border: 1px solid rgba(255, 255, 255, 0.3);
}

button {
	--purple: #db07d1;
	--pink: #f2056f;
	--blue: #61dafb;

	appearance: none;
	border: none;
	cursor: pointer;
	background-color: #acc7ed;
	color: #fff;
	border-radius: 60px;
	outline: none;
	margin: 0;
	padding: 12px 25px;
	font-family: "Poppins";
	font-size: 48px;
	font-weight: 600;
	line-height: 48px;
	letter-spacing: -1px;
	position: relative;
	text-align: center;
	display: flex;
	align-items: center;
}

.shapes {
	position: absolute;
	top: -1px;
	left: -1px;
	right: -1px;
	bottom: -1px;
	border-radius: 60px;
	background: linear-gradient(
		60deg,
		var(--blue) 0%,
		#d6cbf6 30%,
		var(--pink) 70%
	);
}

.blush {
	position: absolute;
	bottom: -15px;
	width: 100px;
	height: 30px;
	filter: blur(20px);
}

.blush.pink {
	right: 20px;
	background: var(--purple);
}

.blush.blue {
	left: 20px;
	background: var(--blue);
}

.shapes .container {
	position: absolute;
	top: -100px;
	bottom: -100px;
	left: -100px;
	right: -100px;
	width: calc(100% + 200px);
	pointer-events: none;
}

.shapes canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

.label {
	width: 180px;
	padding: 20px 0;
	transform: translateZ(0);
	font-weight: 700;
	z-index: 1;
}

.default {
	display: block;
}

.number {
	padding: 20px 0;
	width: 88px;
	position: relative;
	transform: translateZ(0);
}

.number:before {
	content: "";
	position: absolute;
	left: 0;
	top: 1px;
	bottom: 1px;
	width: 1px;
	background-color: #35373f;
}

.current {
	color: #8a8d9b;
	opacity: 1;
	display: block;
}

.new {
	color: #fbfaaa;
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	display: block;
}

.add {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	opacity: 0;
	transform: translateY(38px);
	pointer-events: none;
	color: #d0d0db;
	display: block;
}
