@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	container {
		@apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
	}
}

.scrollbar-w-2::-webkit-scrollbar {
	width: 0.25rem;
	height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
	--bg-opacity: 1;
	background-color: #f7fafc;
	background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
	--bg-opacity: 1;
	background-color: #edf2f7;
	background-color: rgba(237, 242, 247, var(--bg-opacity));
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
	border-radius: 0.25rem;
}

:root {
	--color-bg1: rgb(108, 0, 162);
	--color-bg2: rgb(0, 17, 82);
	--color1: 90, 20, 222;
	--color2: 90, 20, 222;
	--color3: 90, 20, 222;
	--color4: 118, 27, 235;
	--color5: 118, 27, 235;
	--color6: 118, 27, 235;
	--circle-size: 20%;
	--blending: hard-light;
}

@keyframes moveInCircle {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes moveVertical {
	0% {
		transform: translateY(-50%);
	}
	50% {
		transform: translateY(50%);
	}
	100% {
		transform: translateY(-50%);
	}
}

@keyframes moveHorizontal {
	0% {
		transform: translateX(-50%) translateY(-10%);
	}
	50% {
		transform: translateX(50%) translateY(10%);
	}
	100% {
		transform: translateX(-50%) translateY(-10%);
	}
}

.gradient-bg {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
	background: white;
	top: 0;
	left: 0;
}

svg {
	display: none;
}

.gradients-container {
	filter: url(#goo) blur(40px);
	width: 100%;
	height: 100%;
}

.g1 {
	position: absolute;
	background: radial-gradient(
			circle at center,
			rgba(var(--color1), 0.8) 0,
			rgba(var(--color1), 0) 50%
		)
		no-repeat;
	mix-blend-mode: var(--blending);

	width: var(--circle-size);
	height: var(--circle-size);
	top: calc(50% - var(--circle-size) / 2);
	left: calc(50% - var(--circle-size) / 2);

	transform-origin: center center;
	animation: moveVertical 30s ease infinite;

	opacity: 1;
}

.g2 {
	position: absolute;
	background: radial-gradient(
			circle at center,
			rgba(var(--color2), 0.8) 0,
			rgba(var(--color2), 0) 50%
		)
		no-repeat;
	mix-blend-mode: var(--blending);

	width: var(--circle-size);
	height: var(--circle-size);
	top: calc(50% - var(--circle-size) / 2);
	left: calc(50% - var(--circle-size) / 2 - 450px);

	transform-origin: calc(100% + 200px);
	animation: moveInCircle 20s reverse infinite;

	opacity: 1;
}

.g3 {
	position: absolute;
	background: radial-gradient(
			circle at center,
			rgba(var(--color3), 0.8) 0,
			rgba(var(--color3), 0) 50%
		)
		no-repeat;
	mix-blend-mode: var(--blending);

	width: var(--circle-size);
	height: var(--circle-size);
	top: calc(50% - var(--circle-size) / 2 - 100px);
	left: calc(50% - var(--circle-size) / 2 - 400px);

	transform-origin: calc(20% - 50px);
	animation: moveInCircle 10s linear infinite;

	opacity: 1;
}

.g4 {
	position: absolute;
	background: radial-gradient(
			circle at center,
			rgba(var(--color4), 0.8) 0,
			rgba(var(--color4), 0) 50%
		)
		no-repeat;
	mix-blend-mode: var(--blending);

	width: var(--circle-size);
	height: var(--circle-size);
	top: calc(50% - var(--circle-size) / 2 + 250px);
	left: calc(50% - var(--circle-size) / 2 - 200px);

	transform-origin: calc(50%);
	animation: moveHorizontal 30s ease infinite;

	opacity: 1;
}

.g5 {
	position: absolute;
	background: radial-gradient(
			circle at center,
			rgba(var(--color5), 0.8) 0,
			rgba(var(--color5), 0) 50%
		)
		no-repeat;
	mix-blend-mode: var(--blending);

	width: calc(var(--circle-size) * 1.5);
	height: calc(var(--circle-size) * 1.5);
	top: calc(50% - var(--circle-size) + 200px);
	left: calc(50% - var(--circle-size) - 600px);

	transform-origin: calc(50% + 400px) calc(50% - 200px);
	animation: moveInCircle 20s ease infinite;

	opacity: 1;
}

.g6 {
	position: absolute;
	background: radial-gradient(
			circle at center,
			rgba(var(--color6), 0.8) 0,
			rgba(var(--color6), 0) 50%
		)
		no-repeat;
	mix-blend-mode: var(--blending);

	width: calc(var(--circle-size) * 2);
	height: calc(var(--circle-size) * 2);
	top: calc(50% - var(--circle-size));
	left: calc(50% - var(--circle-size) + 300px);

	transform-origin: calc(50% + 700px) calc(50% + 400px);
	animation: moveInCircle 50s ease infinite;

	opacity: 1;
}
